$green-light: #ADE589;
$green: #3A8C05;
$green-dark: #307006;
$red: #ED553F;
$pink-light: #F8E9E7;
$pink: #FDE5E5;
$cyan-light: #C9E0EB;
$cyan: #48AFE0;
$gray: #F1F1F1;
$gray-dark: #707070;


.button, .button:hover, .button:visited, .button:focus {
    color: white;
}
.bk-red {
    background-color: $red;
}
.bk-cyan {
    background-color: $cyan;
}
.bk-green-light {
    background-color: $green-light;
}
.bk-gray-dark {
    background-color: $gray-dark;
}

html {
    background-color: #F7F7F7;
}
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
}
.denav {
    background-color: #c7c7c7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
a, a:hover, a:visited, a:active, a:focus {
    text-decoration: none;
    color: black;
}
.main-wrapper {
    margin: 20px 100px;
    background-color: #E7E7E7;
}

.container {
    padding: 22px 0px;
}
.p0 {
    padding: 0!important;
}
.pl30 {
    padding-left: 30px;
}
.pr10 {
    padding-right: 10px;
}
.mb20 {
    margin-bottom: 20px!important;
}
.section-table {
    padding: 20px;
    table {
        border: 1px solid #D9D9D9!important;
        tr:not(.is-selected):nth-child(even) {
            background-color: #F1F1F1!important;
        }
        .chevron-cell {
            padding: 4px 10px;
        }
        th {
            background-color: #D9D9D9;
        }
        td, th {
            border: 2px solid white!important;
            vertical-align: middle;
        }
        td {
            padding: 0px 12px;
        }
        .col-controls {
            > span {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
        th:nth-child(2) > .th-wrap {
            display: flex;
            justify-content: space-between;
        }
        span.icon {
            cursor: pointer;
            i {
                font-size: 20px;
            }
        }
        tr.detail {
            .detail-container {
                padding: 0px 16px!important;
            }
        }
    }
}
.tabs, .tab-header {
    margin-bottom: 0!important;
}
.tabs li.is-active a {
    color: black;
}
.tab-header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 0.75rem;
}
.detab li {
    background-color: #D8D8D8;
    span {
        color: #A8A4A4;
    }
}
.detab li.is-active {
    background-color: white;
    span {
        color: black;
    }
}

.tab-content {
    border: 1px solid #dbdbdb;
    border-top: none;
    background-color: white!important;
}
.buttons-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.btn-formalize {
    border-bottom: 1px solid #dbdbdb;
    cursor: pointer;
}
.btn-clone {
    padding: 5px 30px;
}
.login-wrapper {
    padding-top: 200px;
    .login-form {
        max-width: 500px;
        margin: 0 auto;
    }
}
.modal {
    .animation-content {
        width: 50%;
    }
    .modal-card-foot {
        justify-content: flex-end;
    }
}
.main-de-content {
    min-height: calc(100vh - 280px);
}
.artboard {
    .card-header {
        background-color: #D8D8D8;
        color: black;
        font-size: 18px;
    }
    .card-content {
        min-height: calc(100vh - 450px);
        height: calc(100vh - 450px);
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-bottom: 20px;
        padding: 10px;
        .term-item {
            margin-bottom: 25px;
            .notfound {
                a {
                    font-size: 12px;
                    width: 100%;
                    color: black;
                }
            }
            .syn {
                text-align: right;
                input[type="radio"] {
                    display:none;
                }
                label {
                    background-color: $green-light;
                    cursor: pointer;
                    display: inline-block;
                    padding: 3px 8px;
                    border-radius: 5px;
                    text-align: center;
                }
                input[type="radio"]:checked+label {
                    background-color: $green;
                    color: white;
                }
            }
            .resolved-qterm {
                .syn {
                    label {
                        background-color: $gray;
                        cursor: default;
                    }
                    &.chosen label {
                        background-color: $green;
                    }
                }
            }
            .def, .tree {
                background-color: $gray;
            }
            .tree {
                max-height: 200px;
                .tree-node.selected > .tree-content {
                    background-color: #D8D8D8;
                }
            }
        }
        .term-item-top {
            margin-bottom: 10px;
            display: flex;
            .term-dot {
                width: 20px;
                height: 20px;
                margin-top: 5px;
                border-radius: 50%;
            }
            .dot-red {
                background-color: $red;
            }
            .dot-green {
                background-color: $green;
            }
            .term-content {
                flex-grow: 1;
                max-width: 310px!important;
                padding: 0 10px;
                .term-name {
                    background-color: $pink;
                    padding: 4px 10px;
                    border-radius: 6px;
                }
                .term-solution {
                    font-size: 11px;
                    flex-grow: 1;
                    text-align: left;
                }
            }
            .btn-confirm {
                max-height: 32px;
                width: 65px;
                color: white;
                border: none;
                border-radius: 5px;
                padding: 6px;
                cursor: pointer;
            }
        }
        .resolved-qterm {
            .term-content {
                display: flex;
                align-items: center;
                .term-solution {
                    flex-grow: 0;
                    padding:0 5px;
                }
                .resolved-term {
                    text-align: center;
                }
            }
            .collapse-content {
                padding-top: 20px;
            }
        }
    }
}
.storage-tab {
    nav.tabs {
        ul {
            li a {
                border-top-right-radius: 20px;
                padding: 2px 16px;
            }
            li:first-child a {
                background-color: $cyan-light;
                color: white;
            }
            li:nth-of-type(2) a {
                background-color: $green-light;
                color: white;
            }
            li:last-child a {
                background-color: $pink-light;
                color: white;
            }
            li.is-active a {
                color: black;
            }
        }
    }
    .tab-content {
        padding: 0;
    }
    .tab-item {
        min-height: 200px;
        .saved-templates, .saved-files, .saved-tables {
            display: flex;
            flex-wrap: wrap;
            overflow-y: auto;
            height: 200px;
            .file-wrapper {
                width: 70px;
                margin-right: 10px;
                margin-bottom: 10px;
                display: flex;
                flex-direction: column;
                cursor: pointer;
                span.icon {
                    margin: 0 auto;
                }
                label {
                    word-break: break-all;
                    line-height: 15px;
                    text-align: center;
                    cursor: pointer;
                }
            }
        }
    }
    .tab-item:first-child {
        background-color: $cyan-light;
    }
    .tab-item:nth-of-type(2) {
        background-color: $green-light;
    }
    .tab-item:last-child {
        background-color: $pink-light;
    }
}
.ql-toolbar {
    display: none;
}
.ql-container {
    border: none!important;
    .ql-editor {
        min-height: calc(100vh - 280px);
        p {
            u {
                text-decoration: none;
                border-bottom: 2px solid $red;
            }
            u:hover {
                background-color: rgb(252, 238, 238);
            }
        }
    }
}
.u-hover {
    background-color: rgb(252, 238, 238);
}
.modal-card-foot {
    button, button:hover {
        color: black;
    }
    button.is-primary {
        background-color: $cyan;
    }
    button.is-danger {
        background-color: $red;
    }
}
.flex-row-reverse {
    flex-direction: row-reverse;
}
@media screen and (min-width: 1472px) and (max-width: 1550px) {
    .container {
        width: 1222px;
    }
}
@media screen and (min-width: 1280px) and (max-width: 1472px) {
    .container {
        width: 1024px;
    }
}
@media screen and (min-width: 1088px) and (max-width: 1280px) {
    .container {
        width: unset;
    }
}

#right-click-menu{
    background: #FAFAFA;
    border: 1px solid #BDBDBD;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 250px;
    z-index: 999999;
}

#right-click-menu li {
    border-bottom: 1px solid #E0E0E0;
    margin: 0;
    padding: 5px 35px;
}

#right-click-menu li:last-child {
    border-bottom: none;
}

#right-click-menu li:hover {
    background: #1E88E5;
    color: #FAFAFA;
}

.tree-arrow {
    height: auto;
}

.tree-anchor {
    padding: 0px 6px;
}

.tree-content {
    padding: 0px 3px;
}

.tooltip {
    display: block !important;
    z-index: 10000;

    .tooltip-inner {
        background: black;
        color: white;
        border-radius: 16px;
        padding: 5px 10px 4px;
    }

    .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
        border-color: black;
        z-index: 1;
    }

    &[x-placement^="top"] {
        margin-bottom: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 0 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            bottom: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="bottom"] {
        margin-top: 5px;

        .tooltip-arrow {
            border-width: 0 5px 5px 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-top-color: transparent !important;
            top: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="right"] {
        margin-left: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 5px 0;
            border-left-color: transparent !important;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            left: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &[x-placement^="left"] {
        margin-right: 5px;

        .tooltip-arrow {
            border-width: 5px 0 5px 5px;
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            right: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity .15s, visibility .15s;
    }

    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity .15s;
    }
}

.nav-tabs {
    flex-wrap: wrap;
}

.tabs a {
    padding: 0em 1em;
}

.context-ul {
    padding: 0 !important;
}

.v-context {
    width: auto !important;
}

.v-context ul li {
    padding: 5px 10px !important;
}